<a href="https://colab.research.google.com/github/ramki92/PythonTraining/blob/main/PythonList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist=[10,20,30,40,50]

print(mylist)
print(mylist[1])

[10, 20, 30, 40, 50]
20

In [ ]:
header=["Name","Mobile","Age","Address","Company"]
print(header)
header.append("DOB")
print(header)

['Name', 'Mobile', 'Age', 'Address', 'Company']
['Name', 'Mobile', 'Age', 'Address', 'Company', 'DOB']

In [ ]:
one_more=["Status","Account","Card Details"]
header.extend(one_more)
print(header)

['Name', 'Mobile', 'Age', 'Address', 'Company', 'DOB', 'Status', 'Account', 'Card Details']

In [ ]:
two_more=["Order ID","Order Date"]
header.extend(two_more)
print(header)
len(header)

['Name', 'Mobile', 'Age', 'Address', 'Company', 'DOB', 'Status', 'Account', 'Card Details', 'Order ID', 'Order Date', 'Order ID', 'Order Date']

13

In [ ]:
len(header)

13

In [ ]:
Variable={"Product":"Soap",
           "Price":"30",
           "Discount":"40%"}
len(Variable)

3

In [ ]:
rides_his={"rama":300,
           "raja":500}

ride_amount=rides_his["rama"]
ride_amount*0.18

54.0

In [ ]:
sum(list(rides_his.values()))/len(list(rides_his.values()))

400.0

In [ ]:
# Y =mx+c
x_list=(1,2,3,4,5,6,7,8)
m=0.1
c=0.1
y_list=list()

In [ ]:
for i in x_list:
  y =(m*i) + c
  y=round(y,2)
 y_list.append(y)

IndentationError: ignored

In [ ]:
y_list

[]

In [ ]:
rides_his={"rama":300,
           "raja":500,
           "ram":800}
for key,value in rides_his.items():
  print("Customer Name is:",key,"   His last ride amount is: ", value)

Customer Name is: rama    His last ride amount is:  300
Customer Name is: raja    His last ride amount is:  500
Customer Name is: ram    His last ride amount is:  800

In [ ]:
list(rides_his.values())
sum([i*0.18 for i in list(rides_his.values())])

288.0

In [ ]:
[i*0.18 for i in list(rides_his.values())]

[54.0, 90.0, 144.0]

In [ ]:
sum([v*0.18 for k,v in list(rides_his.values())])

TypeError: ignored

In [ ]:
if 2>3:
  print("Correct")
else
  print("Wrong")

SyntaxError: ignored

In [ ]:
if 2>3 and 2<3:
  print("1st statement is correct")
elif 2==3:
  print("2nd Statement is corrcet")
else:
  print("no statement is correct")

no statement is correct

In [ ]:
my_list=[1,2,3,4,5,6,6,6]
my_tuble=(1,2,3,4,5,6,6,6)
my_set={1,2,3,4,5,6,6,6}
my_list

[1, 2, 3, 4, 5, 6, 6, 6]

In [ ]:
for num in range(1, 6):
    print(num)

1
2
3
4
5

In [ ]:
def get_even_numbers(my_numbers):
  even_numbers =[]
  #Logic
  for i in my_numbers:
    if i%2==0:
      even_numbers.append(i)
  return even_numbers

In [ ]:
given_numbers =[1,2,3,4,5,6,7,8,9,10,11,12]
get_even_numbers(given_numbers)

[2, 4, 6, 8, 10, 12]

In [ ]:
print(get_even_numbers([1,2,3,4]))
print(get_even_numbers([11,12,13,14]))

[2, 4]
[12, 14]

In [ ]:
#lambda_function
square = lambda x: x*x

square(3)

9

In [ ]:
def square(x):
  output = x*x
  return output
  square(3)

In [ ]:
#class & object oriented programming language
#CircleClass
class Circle ():

  def _init_(self,radius):
    self.r=radius

  def area (self):
    self.area= 3.14*self.r * self.r
    return self.a

  def circumference(self):
      self.circumf= 2*3.14*self.r
      return self.circumf

In [ ]:
#class & object oriented programming language
#CircleClass
class Circle ():

  def _init_(self,radius):
    self.r=radius
    self.area()
    self.circumference()

  def area (self):
    self.area= 3.14*self.r * self.r
    return self.a

  def circumference(self):
      self.circumf= 2*3.14*self.r

In [ ]:
c1 = Circle(3)

In [ ]:
c1.circumference()

In [ ]:
#class object oriented programming
class Circle():

  def __init__(self,radius):
      self.r=radius
      self.area()
      self.circumference()

  def area(self):
    self.a = 3.14 * self.r * self.r

  def circumference(self):
    self.circmf = 2* 3.14 * self.r

In [ ]:
c1=Circle(10)

In [ ]:
c1.a, c1.circmf

(314.0, 62.800000000000004)

In [ ]:
#class object oriented programming
class Square():

  def __init__(self,radius):
      self.r=radius
      self.area()
      self.circumference()

  def area(self):
    self.a = 3.14 * self.r * self.r

  def circumference(self):
    self.circmf = 2* 3.14 * self.r

In [ ]:
s1=Square(4)

In [ ]:
s1.a, s1.circmf

(50.24, 25.12)

In [ ]:
#List can be change

list = [0, 1, 2, 3]
list[0] = 4
print(list)

[4, 1, 2, 3]

In [ ]:
#Tuble can't be change
#will receive an error
list = (0, 1, 2, 3)
list[0] = 4
print(list)

TypeError: ignored

In [ ]:
#List will be denoted with []
#Tuble will be denoted with ()
#Dict will be denoted with {key:value}
#set defined as {}